.grid {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.grid > * {
    display: table-cell;
    vertical-align: top;
}

.cell-1 {
    width: 1pt;
}
.cell-2 {
    width: 2pt;
}
.cell-3 {
    width: 3pt;
}
.cell-4 {
    width: 4pt;
}
.cell-5 {
    width: 5pt;
}
.cell-6 {
    width: 6pt;
}
.cell-7 {
    width: 7pt;
}
.cell-8 {
    width: 8pt;
}
.cell-9 {
    width: 9pt;
}
.cell-10 {
    width: 10pt;
}
.cell-11 {
    width: 11pt;
}
.cell-12 {
    width: 12pt;
}
