html {
    font-family: Georgia,Times,Times New Roman,serif;
}

body {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 0;
    border: 0;
    white-space: pre-line;

    font: inherit;
    color: inherit;
    background: transparent;
    text-transform: inherit;
    text-align: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;

    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) inset;
    overflow: hidden;
    resize: none;
}

textarea:focus {
    outline: none;
}

th > textarea {
    white-space: nowrap;
}

table {
    width: 100%;
    margin-top: 2em;
    border-collapse: collapse;

    font-size: 14px;
}