
/* PAGE */
.l-header {
    padding: 1em 0;
    background: #3292D2;
    border-bottom: 1px solid #256D9D;

    text-align: right;
}

.l-header__container {
    position: relative;
    display: block;
    padding: 0 1em;
    max-width: 21cm;
    margin: 0 auto;
}


/* PAGE */
.l-content {
    background: #B0D5EE;
    padding: 2em 1em;
}


/* PAGE */
.l-page {
    display: block;
    width: 21cm;
    height: 29.7cm;
    padding: 18mm 15mm;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 auto;

    background: white;
    box-shadow: 0 1px 3px #333;
}