
/* HEADER */
.l-header {
    padding: 1em 0;
    background: #3292D2;
    border-bottom: 1px solid #256D9D;

    text-align: right;
}

.l-header__container {
    position: relative;
    display: block;
    padding: 0 1em;
    max-width: 21cm;
    margin: 0 auto;
}


/* CONTENT */
.l-content {
    background: #B0D5EE;
    padding: 2em 1em;
}


/* PAGE */
.l-page {
    display: block;
    width: 21cm;
    min-height: 29.7cm;
    padding: 18mm 15mm;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 auto;

    background: white;
    box-shadow: 0 1px 3px #333;
}

[data-cf-if] {
    transition: all 0.5s ease-in;
    background-position: 3em 0;
}

.cf-disabled {
    color: #888888;
    background-color: #DBECF7;
    background-image: repeating-linear-gradient(135deg, transparent, transparent 15px, white 15px, white 30px);
    background-position: 0 0;
    transition-timing-function: ease-out;
}

.cf-disabled * {
    background: transparent;
}

.cf-hidden {
    display: none;
}