/* COMPONENTS */
.c-header {
    padding: 8px 0;

    background: #3292D2;
    color: #FFF;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: bold;
    letter-spacing: 20px;
    text-align: center;
    text-transform: uppercase;
}

.c-identities {
    margin-top: 2em;
}

.c-identities > *:last-child {
    margin-top: 4em;
}

.c-description {
    padding: 5px;
    margin-top: 4em;
}

.c-toggle {
    position: absolute;
    transform: translateX(-100%);
}

.c-terms__title {
    padding: 5px;
    margin-top: 9em;
    border-bottom: 1px solid #3292D2;

    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: 20px;
    text-align: center;
    text-transform: uppercase;
}

.c-terms__body {
    padding: 1em 0;
    font-size: 14px;
    color: #555;
}


/* TABLE */
th,
td {
    padding: 5px;
    border: 1px solid #3292D2;
}

th,
.bill-highlight {
    background: #B0D5EE;
    font-weight: bold;
}

td {
    border-width: 1px 0;
}

td:first-child {
    border-left-width: 1px;
}

td:last-child {
    border-right-width: 1px;
}

.table-definition th {
    text-align: left;
}

.table-definition td {
    text-align: right;
}

.bill-numeric,
.bill-innerlabel {
    text-align: right;
}

.bill-setting {
    color: grey;
}

.bill-innerlabel {
    border-left-width: 1px;
}

.bill-empty.bill-empty {
    border-width: 0;
}

/* BUTTONS */

.button {

}

.button--unactive {
    color: #555555;
}


/* UTILS */
.u-bold {
    font-weight: bold;
    padding: 5px 0;
}

.u-info {
    color: #888;
    font-size: 14px;
    margin-bottom: 0.5em;
}
