
/* HEADER */
.l-header {
    position: sticky;
    top: 0;
    padding: 1em 0;
    background: #F5F5F5;
    border-bottom: 1px solid #E5E5E5;
}

.l-header__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 15mm;
    max-width: 21cm;
    margin: 0 auto;
}

.l-header__settings,
.l-header__export {
}

/* BUTTONS */
.button {

}

.button--unactive {
    color: #555555;
}


/* CONTENT */
.l-content {
    padding: 2em 1em;
}


/* PAGE */
.l-page {
    display: block;
    width: 21cm;
    min-height: 29.7cm;
    padding: 18mm 15mm;
    border: 1px solid #D8D8D8;
    border-radius: 3px;
    margin: 0 auto;

    background: white;
}

.l-page:hover :not([data-cf-transparent]) > textarea {
    animation: editable 5s;
}

.l-page :not([data-cf-transparent]) > textarea:hover,
.l-page :not([data-cf-transparent]) > textarea:focus {
    background: #FCF8E3 !important;
}

@keyframes editable {
    0% { background: transparent; }
    20% { background: #FCF8E3 }
    70% { background: #FCF8E3 }
    90% { background: transparent; }
}



[data-cf-if] {
    transition: all 0.5s ease-in;
    background-position: 3em 0;
}

.cf-disabled {
    color: #888888;
    background-image: repeating-linear-gradient(135deg, transparent, transparent 15px, #DBECF7 15px, #DBECF7 30px);
    background-position: 0 0;
    transition-timing-function: ease-out;
}

.cf-disabled * {
    background: transparent;
}

.cf-hidden {
    display: none;
}